# ANALYSIS 2 

# As per User input retrieving the best rated restaurant details

### ALL REQUIRED IMPORTS

In [1]:
import string
import csv, sys
from pandas import Series, DataFrame
import pandas as pd
import os
import glob
from os.path import basename
import fnmatch
import json
import nltk
from pprint import pprint

#### GETTING THE SYSTEM PATH

In [2]:
directory = os.path.dirname(os.getcwd()) 
path= "/Users/sonalichaudhari/Desktop/final/data/"
path

'/Users/sonalichaudhari/Desktop/final/data/'

#### TAKING USER INPUT FOR CITY

In [3]:
#User can enter any city name available in Zomato
# for eg.mumbai
input_var = input("Enter CITY: ")
print (input_var)

Enter CITY: MUMBAI
MUMBAI

#### STORING ALL THE JSON FILES DETAILS IN A LIST FOR THE CITY ENTERED BY USER

In [4]:
temp =[] # STORING ALL THE JSON FILES DETAILS IN A LIST FOR THE CITY ENTERED BY USER

r= 0 # To keep count of the total number restaurants in that user mentioned city

cur_path = "/Users/sonalichaudhari/Desktop/final/data/"

for subdir, dirs, files in os.walk(cur_path):
        for file in files:
            if file.endswith('.json'): # Retrieving only the JSON files
                reqpath = subdir+'/'+file # Path of evry JSON file is stored in reqpath
                with open(reqpath) as json_file: # Opening the JSON file
                    d = json.load(json_file) # Loading the JSON file data in d
                    city = d['restaurant']['location']['city'].lower()  # Lowering the case of city name
                    
                    if city == input_var.lower(): # Checking if city name matches
                        temp.append(d)       # Appending the json to list temp
                        r=r+1

#### STORING THE TEMP LIST DATA IN A CSV

In [6]:
with open('/Users/sonalichaudhari/Desktop/final/analysis/ana_2/ANA_2_PART1.csv', 'w') as csvfile:    
    fieldnames = ['RES_ID', 'Name','CUISINES','USER RATING','VOTES',\
                 'RATING TEXT','LATITUDE','LONGITUDE','AVG COST for TWO','CURRENCY']#Naming the title Row of the CSV
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    for j in range(len(temp)-1):
        list_item =[]
        list_item = temp[j]['restaurant']['cuisines'].split(',') # Splitting the cuisines
        for x in range(len(list_item)-1):
            r = temp[j]['restaurant']['R']['res_id']
            n = temp[j]['restaurant']['name']
            cu= list_item[x].strip()
            u = temp[j]['restaurant']['user_rating']['aggregate_rating']
            v = temp[j]['restaurant']['user_rating']['votes']
            rt= temp[j]['restaurant']['user_rating']['rating_text']
            la= temp[j]['restaurant']['location']['latitude']
            lo= temp[j]['restaurant']['location']['longitude']
            avg=temp[j]['restaurant']['average_cost_for_two']
            cur=temp[j]['restaurant']['currency']
            writer.writerow({'RES_ID':r, 'Name':n,'CUISINES':cu,'USER RATING':u,'VOTES':v,\
                 'RATING TEXT':rt,'LATITUDE':la,'LONGITUDE':lo,'AVG COST for TWO':avg,'CURRENCY':cur})

#### CONVERTING THE CSV INTO DATAFRAME

In [7]:
t = pd.read_csv('/Users/sonalichaudhari/Desktop/final/analysis/ana_2/ANA_2_PART1.csv').reset_index(0,drop=True)
t.head(3)

,RES_ID,Name,CUISINES,USER RATING,VOTES,RATING TEXT,LATITUDE,LONGITUDE,AVG COST for TWO,CURRENCY
0,18233317,145 Kala Ghoda,Fast Food,4.2,1606,Very Good,18.927584,72.832585,1500,Rs.
1,18233317,145 Kala Ghoda,Beverages,4.2,1606,Very Good,18.927584,72.832585,1500,Rs.
2,18435740,38 Degree East,North Indian,3.8,181,Good,19.121999,72.908493,1000,Rs.

In [8]:
#Sorting the dataframe t with user ratings and groupin by cuisines

In [9]:
f = lambda x: x.sort('USER RATING', ascending=False)
p = t.groupby('CUISINES').apply(f).reset_index(0,drop=True)
s = p.groupby('CUISINES').head(1).reset_index(0,drop=True)

# For all cuisines availale in the user given city we got highest rated restaurant details.
s

/Users/sonalichaudhari/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,RES_ID,Name,CUISINES,USER RATING,VOTES,RATING TEXT,LATITUDE,LONGITUDE,AVG COST for TWO,CURRENCY
0,18408295,Stacks And Racks,American,4.6,413,Excellent,19.181300,72.836191,500,Rs.
1,44568,Global Fusion,Asian,4.3,4308,Very Good,19.107620,72.883204,3500,Rs.
2,37237,Candies,Bakery,4.2,8917,Very Good,19.060795,72.826527,700,Rs.
3,18233317,145 Kala Ghoda,Beverages,4.2,1606,Very Good,18.927584,72.832585,1500,Rs.
4,18408295,Stacks And Racks,Burger,4.6,413,Excellent,19.181300,72.836191,500,Rs.
5,36403,Prithvi Cafe,Cafe,4.5,3962,Excellent,19.105844,72.825839,800,Rs.
6,36833,Chili's,Chili,4.2,3105,Very Good,19.116199,72.909510,1800,Rs.
7,18075122,The Fusion Kitchen,Chinese,4.7,2083,Excellent,19.254567,72.848923,1000,Rs.
8,18245975,Glocal Junction,Continental,4.0,1424,Very Good,19.139074,72.832157,1500,Rs.
9,37237,Candies,Desserts,4.2,8917,Very Good,19.060795,72.826527,700,Rs.
10,18318116,R' ADDA,European,4.1,546,Very Good,19.109300,72.825451,1200,Rs.
11,18233317,145 Kala Ghoda,Fast Food,4.2,1606,Very Good,18.927584,72.832585,1500,Rs.
12,18458563,The American Joint,Healthy Food,3.4,170,Average,19.223840,72.841347,850,Rs.
13,18075122,The Fusion Kitchen,Italian,4.7,2083,Excellent,19.254567,72.848923,1000,Rs.
14,44568,Global Fusion,Japanese,4.3,4308,Very Good,19.107620,72.883204,3500,Rs.
15,18415164,Summer House Cafe,Lebanese,4.4,335,Very Good,19.000260,72.830243,2000,Rs.
16,49261,Colaba Social,Mediterranean,4.0,4836,Very Good,18.920926,72.832820,1200,Rs.
17,36833,Chili's,Mexican,4.2,3105,Very Good,19.116199,72.909510,1800,Rs.
18,18397685,A Bar Called Life,Modern Indian,4.0,106,Very Good,19.115731,72.827890,1500,Rs.
19,17806994,Mirchi And Mime,North Indian,4.9,3244,Excellent,19.120083,72.907385,1500,Rs.
20,18318116,R' ADDA,Pizza,4.1,546,Very Good,19.109300,72.825451,1200,Rs.
21,36833,Chili's,Salad,4.2,3105,Very Good,19.116199,72.909510,1800,Rs.
22,17806994,Mirchi And Mime,South Indian,4.9,3244,Excellent,19.120083,72.907385,1500,Rs.
23,40714,The Little Door,Spanish,4.1,3361,Very Good,19.139269,72.833033,1400,Rs.
24,36833,Chili's,Steak,4.2,3105,Very Good,19.116199,72.909510,1800,Rs.
25,18318116,R' ADDA,Street Food,4.1,546,Very Good,19.109300,72.825451,1200,Rs.
26,36833,Chili's,Tex-Mex,4.2,3105,Very Good,19.116199,72.909510,1800,Rs.

In [17]:
# Creating CSV of final output

In [10]:
with open('ANA_2_PARTt2.csv', 'w') as csvfile:
    s.to_csv(csvfile, header=True)

#### TAKING USER INPUT FOR CUISINE AND RESTAURANT ID

In [11]:
#Taking input for choosing restaurant and cuisine from above list
while True:
    try:
        restaurant_id = int(input("Enter RESTAURANT ID mentiones above: "))
        cuisine_name = str(input("Enter CUISINE NAME mentiones above: "))
    except ValueError:
        print("Sorry, Enter the id in  Dataframe s")
        continue
    else:
        break
if (restaurant_id in s['RES_ID'].values) == True and (cuisine_name in s['CUISINES'].values)==True: 
    print("RESTAURANT ID:"+str(restaurant_id) )
    print("CUISINES:"+ cuisine_name )
else:
    restaurant_id = 0
    print("Sorry, Enter the details in  Dataframe s")

#print (restaurant_id)

Enter RESTAURANT ID mentiones above: 36403
Enter CUISINE NAME mentiones above: Cafe
RESTAURANT ID:36403
CUISINES:Cafe

In [12]:
z = s.loc[(s['RES_ID'] == restaurant_id) & (s['CUISINES']== cuisine_name)]
z

,RES_ID,Name,CUISINES,USER RATING,VOTES,RATING TEXT,LATITUDE,LONGITUDE,AVG COST for TWO,CURRENCY
5,36403,Prithvi Cafe,Cafe,4.5,3962,Excellent,19.105844,72.825839,800,Rs.

In [13]:
with open('ANA_2_PARTt3.csv', 'w') as csvfile:
    z.to_csv(csvfile, header=True)